* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.div1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: #000000;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}
#a1 {
    color: white;
}
.div2 {
    display: flex;
    text-align: center;
    align-items: center;
    height: 100px;
    width: 99vw;
}
#p1 {
    color: #000000;
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-left: 200px;
    transition: 0.5s;
    text-decoration: none;
}
#p1:hover {
    border-bottom: #000000 solid 2px;
    font-size: 31px;
    transition: 0.5;
}
.p2 {
    font-family: 16px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    transition: 0.5s;
    color: #000000;
    text-decoration: none;
    margin-left: 20px;
}
.p2:hover {
    border-bottom: #000000 solid 2px;
    font-size: 19px;
    transition: 0.5s;
}
#inp1 {
    width: 153px;
    height: 22px;
    font-size: 12px;
    opacity: 50%;
    color: #000000;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-left: 300px;
}
.icon1 {
    border: white solid 0;
    margin-left: 20px;
    font-size: 20px;
}
.icon1 {
    transition: 0.5s;
    font-size: 21px;
}
#btn2 {
    width: 78px;
    height: 34px;
    border-radius: 4px;
    background-color: #DB4444;
    color: white;
    margin-left: 20px;
    border: white solid 0;
    transition: 1s;
}
button:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 1s;
}
.divv2 {
    display: flex;
    justify-content: space-around;
    width: 99vw;
    height: 400px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
#i1 {
    font-size: 50px;
    color: #DB4444;
    background-color: white;
    border-radius: 20%;
}
#i2 {
    font-size: 50px;
    background-color: #DB4444;
    color: white;
    border-radius: 20%;
}
.span1 {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.p3 {
    font-size: 14px;
}
.divvi {
    width: 270px;
    height: 1px;
    background-color: #000000;
    border: 1px;
}
.inp1 {
    width: 235px;
    height: 50px;
    margin-left: 20px;
    background-color: #F5F5F5;
    font-size: 16px;
    padding-left: 20px;
}
.ta1 {
    width: 752px;
    height: 207px;
    border-radius: 4px;
    margin-left: 20px;
    margin-top: 60px;
    background-color: #F5F5F5;
    font-size: 16px;
    padding-left: 20px;
    padding-top: 20px;
}
.btn1 {
    width: 215px;
    height: 56px;
    border-radius: 4px;
    background-color: #DB4444;
    font-size: 16px;
    color: #F5F5F5;
    border: #F5F5F5 solid 1px;
    margin-left: 560px;
    margin-top: 40px;
}
.span2 {
    font-weight: 200;
    margin-left: 100px;
}
.span3 {
    font-weight: 400;
}
.span4 {
    font-weight: 600;
}
.divv1 {
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.div7 {
    width: 99vw;
    height: 460px;
    background-color: #DB4444;
    display: flex;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #FAFAFA;
    margin-top: 140px;

}
.img7 {
    width: 80px;
    height: 80px;
}
.img8 {
    width: 120px;
    height: 120px;
    position: absolute;
    margin-top: -40px;
}
.img9 {
    width: 110px;
    height: 110px;
    margin-top: 6px;
    position: absolute;
    margin-left: 6px;
}
.p7 {
    font-size: 24px;
    color: white;
    font-weight: bold;
}
.p8 {
    font-size: 20px;
    font-weight: bold;
}
.p9 {
    font-size: 16px;
}
.divv6 {
    margin-top: 150px;
    margin-left: 80px;
}
#inp2 {
    width: 180px;
    height: 50px;
    background-color: transparent;
    color: white;
    border: white solid 1px;
    padding-left: 20px;
}
.vvv {
    font-size: 17px;
    margin-left: 10px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}