* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.div1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: #DB4444;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    border-bottom: #888888 solid 1px;
}
#a1 {
    color: white;
}
.div2 {
    display: flex;
    text-align: center;
    align-items: center;
    height: 100px;
    width: 99vw;
}
.p1 {
    color: #000000;
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-left: 200px;
    transition: 0.5s;
    text-decoration: none;
}
.p1:hover {
    border-bottom: #000000 solid 2px;
    font-size: 31px;
    transition: 0.5;
}
.p2 {
    font-family: 16px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    transition: 0.5s;
    color: #000000;
    text-decoration: none;
    margin-left: 20px;
}
.p2:hover {
    border-bottom: #000000 solid 2px;
    font-size: 19px;
    transition: 0.5s;
}
#inp1 {
    width: 153px;
    height: 22px;
    font-size: 12px;
    opacity: 50%;
    color: #000000;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-left: 300px;
}
#icon1 {
    border: white solid 0;
    margin-left: 20px;
    font-size: 20px;
}
#btn2 {
    width: 78px;
    height: 34px;
    border-radius: 4px;
    background-color: #DB4444;
    color: white;
    margin-left: 20px;
    border: white solid 0;
    transition: 1s;
    text-decoration: none;
}
button:hover {
    cursor: pointer;
    text-decoration: none;
    transition: 1s;
    transform: scale(1.1);
}
#img1 {
    width: 99vw;
}
#divv1 {
    width: 311px;
    height: 44px;
    margin-top: 60px;
    margin-left: 100px;
}
#divv1 p {
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.imgg1 {
    width: 600px;
    height: 564px;
}
.imgg2 {
    width: 348px;
    height: 300px;
    margin-left: 200px;
}
.imgg3 {
    width: 348px;
    height: 300px;
    margin-left: 200px;
    margin-top: 20px;
}
.divv3 {
    width: 548px;
    height: 700px;
    background-color: #F3F5F7;
    justify-content: center;
    align-items: center;
}
.divv2 {
    width: 548px;
    height: 700px;
    background-color: #F3F5F7;
}
.di1 {
    display: flex;
    justify-content: space-around;
}
.div3 {
    width: 99vw;
    overflow: hidden;
}
#dc2 {
    position: absolute;
    width: 420px;
    height: 78px;
}
.div4 {
    width: 99vw;
    margin-top: 200px;
}
.divv4 {
    width: 99vw;
    display: flex;
    justify-content: center;
}
.divv4 h1 {
    font-size: 46px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #DB4444;
}
.divv5 {
    width: 99vw;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.divvv1 {
    width: 434px;
    height: 253px;
    margin-left: 40px;
    padding: 10px;
    border-radius: 3px;
}
.divvv2 {
    width: 434px;
    height: 253px;
    background-color: #E075757A;
    padding: 10px;
    border-radius: 3px;
}
.p3 {
    font-size: 70px;
    color: #DB4444;
}
.p4 {
    font-size: 30px;
    color: #DB4444;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.p5 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}
.img2 {
    width: 213px;
    height: 201px;
    transform: rotate(30.21deg);
    transition: 1s;
}
.img2:hover {
    transform: rotate(0deg);
    transition: 1s;
}
.img3 {
    width: 164px;
    height: 186px;
    transform: rotate(140deg);
    position: absolute;
    margin-top: 70px;
    margin-left: -70px;
    transition: 1s;
}
.img3:hover {
    transform: rotate(-30deg);
    transition: 1s;
}
.img4 {
    width: 220px;
    height: 226px;
    margin-left: 70px;
    transition: 1s;
}
.img4:hover {
    transition: 1s;
    transform: scale(1.05);
}
.img5 {
    width: 360px;
    height: 230px;
    transition: 1s;
}
.img5:hover {
    transition: 1s;
    transform: scale(1.05);
}
.img6 {
    width: 220px;
    height: 226px;
    margin-left: 70px;
    transition: 1s;
}
.img6:hover {
    transition: 1s;
    transform: scale(1.05);
}
.div6 {
    width: 24vw;
    height: 440px;
    border: #888888 solid 2px;
    border-radius: 10px;
    margin-left: 20px;
}
.divvi {
    width: 99vw;
    display: flex;
    justify-content: center;
}
.pp1 {
    font-size: 30px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-left: 50px;
}
.pp2 {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #888888;
    margin-left: 50px;
}
.btn3 {
    width: 120px;
    height: 40px;
    margin-left: 50px;
    transition: 1s;
}
.btn3:hover {
    transition: 1s;
    transform: scale(1.2, 1);
    background-color: #6b6b6b;
    color: white;
}
.divvi2 {
    margin-top: 150px;
    margin-bottom: 150px;
    margin-left: 100px;
}
.p6 {
    font-size: 35px;
    font-family: "Smooch Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}
.div7 {
    width: 99vw;
    height: 440px;
    background-color: #DB4444;
    display: flex;
    justify-content: space-between;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FAFAFA;
    margin-top: 140px;
}
.img7 {
    width: 80px;
    height: 80px;
}
.img8 {
    width: 120px;
    height: 120px;
    position: absolute;
    margin-top: -40px;
}
.img9 {
    width: 110px;
    height: 110px;
    margin-top: 6px;
    position: absolute;
    margin-left: 6px;
}
.p7 {
    font-size: 24px;
    color: white;
    font-weight: bold;
}
.p8 {
    font-size: 20px;
    font-weight: bold;
}
.p9 {
    font-size: 16px;
}
.divv6 {
    margin-top: 150px;
    margin-left: 20px;
}
#inp2 {
    width: 180px;
    height: 50px;
    background-color: transparent;
    color: white;
    border: white solid 1px;
    padding-left: 20px;
}
.hp1 {
    font-size: 34px;
    font-family: "Smooch Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}
.bt {
    width: 170px;
    height: 35px;
    background-color: #F3F5F7;
    font-size: 16px;
    border: white solid 0;
    border-bottom: #000000 solid 2px;
    text-decoration: double;
    transition: 0.5s;
}
.dc2 {
    margin-top: -80px;
    margin-left: 20px;
}
#dc1 {
    margin-left: 20px;
}
.vvv {
    font-size: 17px;
    margin-left: 10px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}