* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.div1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: #000000;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}
#a1 {
    color: white;
}
.div2 {
    display: flex;
    text-align: center;
    align-items: center;
    height: 100px;
    width: 99vw;
}
#p1 {
    color: #000000;
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-left: 200px;
    transition: 0.5s;
    text-decoration: none;
}
#p1:hover {
    border-bottom: #000000 solid 2px;
    font-size: 31px;
    transition: 0.5;
}
.p2 {
    font-family: 16px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    transition: 0.5s;
    color: #000000;
    text-decoration: none;
    margin-left: 20px;
}
.p2:hover {
    border-bottom: #000000 solid 2px;
    font-size: 19px;
    transition: 0.5s;
}
#inp1 {
    width: 153px;
    height: 22px;
    font-size: 12px;
    opacity: 50%;
    color: #000000;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-left: 300px;
}
.icon1 {
    border: white solid 0;
    margin-left: 20px;
    font-size: 20px;
}
.icon1 {
    transition: 0.5s;
    font-size: 21px;
}
#btn2 {
    width: 78px;
    height: 34px;
    border-radius: 4px;
    background-color: #DB4444;
    color: white;
    margin-left: 20px;
    border: white solid 0;
    transition: 1s;
}
button:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 1s;
}
.vvv {
    font-size: 17px;
    margin-left: 10px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.table {
    width: 85vw;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: white;
    margin: 0 auto;
    margin-top: 100px;
    border: 0;
    border-collapse: collapse;
}
.thead {
    background-color: white;
    border-collapse: collapse;
}
.btn77 {
    width: 200px;
    height: 40px;
    background-color: rgb(47, 144, 255);
    color: #fafafa;
    transition: 1s;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    border: white solid 1px;
    border-radius: 8%;
    margin-left: 130px;
    margin-top: 30px;
}
.tbody {
    width: 100%;
    height: 100%;
}